<ul>
	<li><a href="login/discord">Login with Discord</a></li>
	<li><a href="login/twitter">Login with Twitter</a></li>
	<li><a href="login/github">Login with GitHub</a></li>
	<li><a href="login/maniaplanet">Login with ManiaPlanet</a></li>
	<li><a href="login/trackmania">Login with Trackmania</a></li>
</ul>